/* <div className="flex w-full h-screen justify-center text-color12 bg-gradient-to-r from-color2 via-color1 to-color3">
<Router>
  <SideBar></SideBar>
  <div className="w-full ml-48 p-5 h-full ">
    <div className=" shadow-color4 shadow-md  bg-color1 p-5 h-full bg-gradient-to-br from-color1 via-color2 to-color8/10 rounded-lg ">
      <Routes>
        <Route path="/myingredients" element={<MyIngredients />} />
        <Route path="/whatcanimake" element={<WhatCanIMake />} />
        <Route path="/allrecipies" element={<AllRecipies />} />
        <Route path="*" element={<Navigate to="/whatcanimake" replace />} />
      </Routes>
    </div>
  </div>
</Router>
</div> */

:root {
  --foreground-color: var(--ct-4);
  --background-color: var(--ct-1);

  /* Color theme  */
  --ct-1: #1d2d50;
  --ct-2: #133b5c;
  --ct-3: #1e5f74;
  --ct-4: #fcdab7;
}

.main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: var(--foreground-color);
  background: var(--ct-1);
  background: linear-gradient(45deg, var(--ct-1) 50%, rgba(50, 98, 136, 1) 250%);
}

.main-container {
  height: 90vh;
  width: 90vw;
  background: var(--ct-2);
  background: linear-gradient(145deg, var(--ct-2) 95%, rgb(122, 46, 53) 100%);
  border-radius: 15px;
  box-shadow: 10px whitesmoke;
  align-self: center;
  margin: auto;
}
