/* <div className="flex w-full h-screen justify-center text-color12 bg-gradient-to-r from-color2 via-color1 to-color3">
<Router>
  <SideBar></SideBar>
  <div className="w-full ml-48 p-5 h-full ">
    <div className=" shadow-color4 shadow-md  bg-color1 p-5 h-full bg-gradient-to-br from-color1 via-color2 to-color8/10 rounded-lg ">
      <Routes>
        <Route path="/myingredients" element={<MyIngredients />} />
        <Route path="/whatcanimake" element={<WhatCanIMake />} />
        <Route path="/allrecipies" element={<AllRecipies />} />
        <Route path="*" element={<Navigate to="/whatcanimake" replace />} />
      </Routes>
    </div>
  </div>
</Router>
</div> */

::root {
  --foreground-color: white;
  --background-color: rgb(1, 7, 36);
}

.main-div {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  color: var(--foreground-color);
  background: var(--background-color);
  background: linear-gradient(45deg, rgba(1, 7, 36, 1) 54%, rgba(50, 98, 136, 1) 100%);
}
